@model Proyecto_SI_Registro_Hotelero.Models.Habitacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de borrar habitación?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabitacionNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabitacionNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabitacionDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabitacionDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabitacionPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabitacionPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion.TipoDescripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PisoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PisoHabitacion.Piso)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoHabitacion.Estado)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HabitacionId" />
        <input type="submit" class="btn btn-danger" value="Borrar" />
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
