@model IEnumerable<Proyecto_SI_Registro_Hotelero.Models.Habitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionPrecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PisoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoHabitacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionPrecio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitacion.TipoHId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PisoHabitacion.PisoHId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoHabitacion.EstadoHId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HabitacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HabitacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HabitacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
