@model IEnumerable<Proyecto_SI_Registro_Hotelero.Models.Habitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-file"></i> Nueva Habitación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionPrecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitacion.TipoDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PisoHabitacion.Piso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoHabitacion.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionPrecio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitacion.TipoDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PisoHabitacion.Piso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoHabitacion.Estado)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.HabitacionId">Editar</a>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.HabitacionId">Detalles</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.HabitacionId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
