@model IEnumerable<Proyecto_SI_Registro_Hotelero.Models.EstadoHabitacion>

@{
    ViewData["Title"] = "Index";
}

<body id="Imag6">
    <h1 style="margin-top:-65px;"><b>Estados de Habitaciones</b></h1>
    <br />

    <p>
        <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-file"></i> Nuevo Estado</a>
    </p>
    <table class="table table-light table-borderless" style="border-radius:25px;">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.EstadoHId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.EstadoHId">Detalles</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.EstadoHId">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
