@model Proyecto_SI_Registro_Hotelero.Models.PagoReserva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PReservaTitular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PReservaTitular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PReservaCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PReservaCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PReservaNumeroTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PReservaNumeroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PReservaFechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PReservaFechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PReservaCodigoTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PReservaCodigoTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservaHabitacion.ReservaHId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@Model.PReservaId">Editar</a> 
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>
