@model Proyecto_SI_Registro_Hotelero.Cammon.Pagination<ReservaHabitacion>

@{
    ViewData["Title"] = "Index";
}
<body id="Imag2">
    <h1 style="margin-top:-65px;"><b>Reservas de Habitaciones</b></h1>
      
<div class="row search" style="margin-top:50px;">
    <div class="col-auto">
        <input type="text" class="form-control" id="txt-search" placeholder="Buscar..." />
    </div>
    <div class="col-auto">
        <a class="btn btn-success" onclick="reservahabitacions_search()" id="search-link"><i class="fas fa-search"></i></a>
        <a asp-action="Create" class="btn btn-success"><i class="far fa-file"></i> Nueva Reserva</a>
    </div>
</div>
<br />



   <table class="table table-light table-borderless" style="border-radius:25px;">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Result.SingleOrDefault().ReservaNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.SingleOrDefault().ReservaApellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.SingleOrDefault().FechaIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.SingleOrDefault().FechasSalida)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Result.SingleOrDefault().Habitacion.HabitacionNumero)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservaNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservaApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechasSalida)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Habitacion.HabitacionNumero)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.ReservaHId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ReservaHId">Detalles</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.ReservaHId">Borrar</a>
                      
                         <a class="btn btn-outline-dark" asp-controller="PagoReservas" style="margin-top:10px;" asp-action="Create"> Pagar <i class="fas fa-bell "></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

@*Codigo para paginar registros*@
@if (Model.Result.Count() > 0)
{
    <span>
        <strong>@Model.TotalRecords</strong> Registros Encontrados
    </span>
    <span> | </span>
    <span>
        Pagina <strong>@Model.CurrentPage</strong> de
        <strong>@Model.TotalPage</strong>
    </span>
    <span> | </span> }
else
{
    <span>No hay resultados para esta busqueda</span>
    <span> | </span>}

@if (Model.CurrentPage > 1)
{
    @Html.ActionLink("<<", "Index", new { Page = 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" })

    <span></span>

    @Html.ActionLink("Anterior", "Index", new { Page = Model.CurrentPage - 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" }) }
else
{
    @Html.ActionLink("<<", "Index", new { Page = 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default disabled" })

    <span></span>

    @Html.ActionLink("Anterior", "Index", new { Page = 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default disabled" })}

<span></span>

@if (Model.CurrentPage < Model.TotalPage)
{
    @Html.ActionLink("Siguiente", "Index", new { Page = Model.CurrentPage + 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" })

    <span></span>

    @Html.ActionLink(">>", "Index", new { Page = Model.TotalPage, Search = Model.Search },
            new { @class = "btn btn-sm btn-default" }) }
else
{
    @Html.ActionLink("Siguiente", "Index", new { Page = Model.CurrentPage - 1, Search = Model.Search },
            new { @class = "btn btn-sm btn-default disabled" })

    <span></span>

    @Html.ActionLink(">>", "Index", new { Page = Model.TotalPage, Search = Model.Search },
            new { @class = "btn btn-sm btn-default disabled" })}

<link rel="stylesheet" href="~/css/common.css" />
<script src="~/js/reservahabitacions.js" asp-append-version="true"></script>


