@model IEnumerable<Proyecto_SI_Registro_Hotelero.Models.ReservaHabitacion>

@{
    ViewData["Title"] = "Index";
}

<body id="Imag2">
    <h1 style="margin-top:-65px;">Reservas de Habitaciones</h1>
    <p style="margin-top:45px;">
        <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-file"></i> Nueva Reserva</a>
    </p>
    <table class="table table-light table-borderless">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservaNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservaApellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechasSalida)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Habitacion.HabitacionNumero)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservaNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservaApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechasSalida)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Habitacion.HabitacionNumero)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.ReservaHId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ReservaHId">Detalles</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.ReservaHId">Borrar</a>
                        <a class="btn btn-dark" asp-controller="PagoReservas" style="margin-top:10px;" asp-action="Create"> Pagar <i class="fas fa-bell "></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>