@model IEnumerable<Proyecto_SI_Registro_Hotelero.Models.ReservaHabitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-file"></i> Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservaApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechasSalida)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Habitacion.HabitacionNumero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechasSalida)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.HabitacionNumero)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.ReservaHId">Editar</a>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ReservaHId">Detalles</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReservaHId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
